<!DOCTYPE html>
<html>
  <head>
    <title>About PharmAssist</title>
  </head>
  <body>
  	<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
					<a href="/">
						<span class="fa-stack fa-2x">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-user-md fa-stack-1x"></i>
						</span>
					</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/about">About</a></li>
						<li><a href="#">Page 1</a></li>
						<li><a href="#">Page 2</a></li> 
						<li><a href="#">Page 3</a></li> 
					</ul>
				</div>
			</div>
		</nav>
  	<div class="container-fluid">
  		<img src="..." alt="..." class="img-rounded">
			<img src="..." alt="..." class="img-circle">
			<img src="..." alt="..." class="img-thumbnail">
  		<%= image_tag('DrMeeLe.png', class: "img-responsive") %>
     	<h2>ABOUT US</h2>
			<p>Founded by Dr. Mee Le, a graduate from Roseman University of Health Sciences, PharmAssist LLC. offers a variety of Pharmacist-Delivered Patient Care Services. We provide Medication Therapy Management (MTM) and charge no cost to the pharmacies that we contract. As drug experts, we work alongside our patients and health care providers to ensure safe, effective and affordable medication, and ultimately improved health outcome. We also work closely with our contracted pharmacy’s staff to help build immunization awareness and synchronize medications for a single monthly pick up date.</p>
  	</div>
  </body>
</html>