<!DOCTYPE html>
<html>
  <head>
    <title>About PharmAssist</title>
  </head>
  <body>
    <h1>ABOUT US</h1>
		<p>Founded by Dr. Mee Le, a graduate from Roseman University of Health Sciences, PharmAssist LLC. offers a variety of Pharmacist-Delivered Patient Care Services. We provide Medication Therapy Management (MTM) and charge no cost to the pharmacies that we contract. As drug experts, we work alongside our patients and health care providers to ensure safe, effective and affordable medication, and ultimately improved health outcome. We also work closely with our contracted pharmacy’s staff to help build immunization awareness and synchronize medications for a single monthly pick up date.</p>
 
		<p>PharmAssist is a medication Counseling Service Company only. We do not store or dispense any prescription or OTC medications at any time. Please contact us if you would like to learn about Pharmacist-Delivered Patient Care Services. We will respond to your request as quickly as possible.</p>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>