<!DOCTYPE html>
<html>
	<head>
		<title>PharmAssist</title>
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span> 
					</button>
					<a href="/" class="logo">
						<span class="fa-stack fa-2x">
							<i class="fa fa-square-o fa-stack-2x"></i>
							<i class="fa fa-user-md fa-stack-1x"></i>
						</span>
					</a>				
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/about">About</a></li>
						<li><a href="#">Item 1</a></li>
						<li><a href="#">Item 2</a></li> 
						<li><a href="#">Item 3</a></li> 
					</ul>
				</div>
			</div>
		</nav>
		</div>
		<div class="jumbotron">
			<div class="container-fluid">
				<h1>Welcome to PharmAssist!</h1>
				<p>is a medication Counseling Service Company only. We do not store or dispense any prescription or OTC medications at any time. Please contact us if you would like to learn about Pharmacist-Delivered Patient Care Services. We will respond to your request as quickly as possible.</p>
  			<p><a class="btn btn-primary btn-lg" href="/about" role="button">About Us</a></p>
			</div>
		</div>
	</body>
</html>